<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <extensions>
      <bindingElementExtensions>
        <add name="gzipMessageEncoding" type="Microsoft.ServiceModel.Samples.GZipMessageEncodingElement, GZipEncoder, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <add name="fileTransport" type="FileTransport.FileTransportElement, FileTransport" />
      </bindingElementExtensions>
    </extensions>
    <bindings>
      <customBinding>
        <binding name="FileTransportConfigBinding">
          <gzipMessageEncoding innerMessageEncoding="textMessageEncoding"/>
          <fileTransport streamed="true" />
        </binding>
      </customBinding>
    </bindings>
    <services>
      <service name="DuplexFileTransportChannelSample.ReverseStringService" 
               behaviorConfiguration ="DuplexFileTransportChannelSample.ReverseStringService">
        <host>
          <baseAddresses>
            <add baseAddress ="http://localhost:8080/ReverseStringService"/>
          </baseAddresses>
        </host>
        <endpoint
            address="MEX"
            binding="mexHttpBinding"
            contract="IMetadataExchange">
        </endpoint>
        <endpoint
            address="my.file://localhost/ReverseStringFolder"
            binding="customBinding"
            bindingConfiguration="FileTransportConfigBinding"
            contract="DuplexFileTransportChannelSample.IReverseStringDuplex">
        </endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DuplexFileTransportChannelSample.ReverseStringService">
          <serviceMetadata httpGetEnabled="True" httpGetUrl=""/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>